# Dependencies
node_modules/
**/node_modules/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.local

# IDE/Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Uploaded Files
backend/uploads/*
!backend/uploads/.gitkeep

# Build folders
dist/
**/dist/
build/
**/build/
